<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Weather App!</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>
            Welcome to trial app! Click on 'About'/'Help' to navigate to other pages!!
        </p>
        </div>
        {{>footer}}
        <script src="js/load-app.js"></script>
    </body>
</html>